
/******************************************
/* FONTS
/*******************************************/

@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('../fonts/aqua-webfont.eot');
    src: url('../fonts/aqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aqua-webfont.woff2') format('woff2'),
         url('../fonts/aqua-webfont.woff') format('woff'),
         url('../fonts/aqua-webfont.ttf') format('truetype'),
         url('../fonts/aqua-webfont.svg#aqua_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/******************************************
/* UTILITIES
/*******************************************/

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
    margin: 0;
    padding: 0;
}

/* Clearfix */
.clearfix:before,.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}



/******************************************
/* BASE STYLES
/*******************************************/

html {
  margin-bottom:0;
  padding-bottom:0;
  min-height:calc(100% - 150px);
}

body {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: 300;
  color: white;
  line-height: 25px;
  margin:0 ;
  padding:0;
    background:url("cosmos.jpg");
    background-repeat: no-repeat;
  background-size: cover;
}


a {
    position: relative;
  color: white;
  text-decoration: none;
    cursor: pointer;
}

header {
  height: 100px;
  padding: 10px 0;
}

h1 {
  font-family: 'Abril Fatface';
  letter-spacing: .03em;
  font-size:22px;
  color: #ffffff;
  padding:10px;
  border: 2px solid;
}

h2 {
  font-family: 'aqua_grotesqueregular';
  font-size: 23px;
  color: white;
    display: block;
  letter-spacing: .17em;
  margin: 20px 0px;
  text-align: center;
}

h3 {
  font-family: 'aqua_grotesqueregular';
  font-size: 23px;
  color: #565656;
  letter-spacing: .17em;
  margin: 40px 0px;
  text-align: center;
}

h4 {
  font-family: 'aqua_grotesqueregular';
  font-size: 40px;
  color: #f33b5f;
  letter-spacing: .08em;
  line-height: 45px;
  margin: 40px 0px;
  text-align: center;
}
nav {
     position: relative;
    padding-top:15px;
    float: right; 
     
}
nav a {
   color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
   padding: 0;
    cursor: pointer;
}
a:hover {
  color: #caa167;
    text-decoration: none;
  font-weight: lighter;
    cursor: pointer;
}
#defaultMessage p {
  margin-bottom: 20px;
    color: white;
    padding: 10px 10px;
    font-weight: lighter;
    word-spacing: 2px;
    text-align: center;
}
p{
    color: white;
    padding: 10px 10px;
    font-weight: lighter;
    word-spacing: 2px;
    text-align: center;
}

.hidden{
    display: none;
}
.line1{
    display: block;
    border:none;
    margin-top: 10px;
    margin-bottom: 20px;
    color:white;
    height:2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#caa167), to(#0d0d0d));
}
button {
  font-size: 22px;
    position:relative;
    letter-spacing: .5rem;
  font-weight: 300;
  font-family: OpenSans;
  color: white;
    width: 335px;
    border-color: #caa167;
  background-color:transparent;
    margin-top:30px;
    margin-left: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor:pointer;
    
}

footer {
  background-color: #f33b5f;
  color: #ffffff;
text-align: center;
    padding-top: 10px;
  font-family: 'Abril Fatface';
  letter-spacing: .04em;
  font-size: 15px;
  height: 50px;
  width:100%;
 overflow: hidden;
  position:relative;
    bottom: 0;
}

/* Animations */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fa-heart{
    display:inline;
    padding: 4px;
}
/* Space */
.space {
  position:fixed;
  width: 400vw;
  height:300vh;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
 -webkit-animation: spin 240s linear infinite;
          animation: spin 240s linear infinite;
  background-size: 240px;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  /* Had to base64 SVG background for FF compatibility */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MCAyNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0MCAyNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IHg9IjEwNiIgeT0iOTAiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB4PSI3NCIgeT0iNjMiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIyMyIgeT0iNjYiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI1MCIgeT0iMTEwIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNjMiIHk9IjEyOCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjQ1IiB5PSIxNDkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI5MiIgeT0iMTUxIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNTgiIHk9IjgiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNDciIHk9IjMzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMiIgaGVpZ2h0PSIyIi8+PHJlY3QgeD0iOTEiIHk9IjQzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTY5IiB5PSIyOSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE4MiIgeT0iMTkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNjEiIHk9IjU5IiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTM4IiB5PSI5NSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE5OSIgeT0iNzEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIzIiBoZWlnaHQ9IjMiLz48cmVjdCB4PSIyMTMiIHk9IjE1MyIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjIiIGhlaWdodD0iMiIvPjxyZWN0IHg9IjEyOCIgeT0iMTYzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMjA1IiB5PSIxNzQiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNTIiIHk9IjIwMCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjUyIiB5PSIyMTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB5PSIxOTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxMTAiIHk9IjE4NCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjwvc3ZnPg==);
}

.ampersand {
  font-family: 'Abril Fatface';
  font-size: 60px;
 color: #caa167;
  position: relative;
  top:15px;
    margin: 10px 20px;
    left: 4px;
}

.selectSign {
  text-align: center;
    height: 150px;
    width: 100%;
    
}


.randomQuote {
  text-align: center;
  color: #757575;
  font-size: 20px;
    position:relative;
  font-family: 'Abril Fatface';
  padding-top:22px;
    margin-top: 50px;
  height: 90px;
    overflow: hidden;
    width: 100%;
  background-color: #0f1124;
}

#day {
  height:50px;
  font-family: OpenSans;
  font-size: 17px;
  width: 70px;
    color: black;
  padding: 15px 15px;
  border: 2px #caa167 solid;
  box-shadow: none;
    display:inline-block;
   position: relative;
    margin-left: 7%;

}

#zodiacSign {
  width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}


.select {
  font-family: OpenSans;
    text-align: center;
  font-size: 17px;
  position: relative;
    display: inline-block;
}

.quoter {
  color: #caa167;
}
#submit{
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    background: transparent;
    margin-top:20px;
    width: 300px;
    display: block;
    transition: background 0.2s ease-out,color 0.2s ease-out;
}
#submit:hover{
     background:#caa167;
  color:#fff;
  font-smoothing: antialiased;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  border-color:#caa167;
  transition: background 0.3s ease-in,color 0.3s ease-in;
}
#matchMe:hover{
     background:#caa167;
  color:#fff;
  font-smoothing: antialiased;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  border-color:#caa167;
  transition: background 0.3s ease-in,color 0.3s ease-in;
}
#result {
  text-align: center;
  margin-top: 50px;
    font-size: 20px;
    position: relative;
}
.calculator{
    padding-bottom: 20%;
    position: relative;
    
}
/* dropdown styling */

.select select {
  outline:none;
  -webkit-appearance: none;
  display: block;
    margin: 0;
    position: relative;
    padding:10px;
    text-align: center;
    height: 50px;
    width: 120px;
  transition: border-color 0.2s;
  border: 2px solid #caa167;
  border-radius: 5px;
  background: white;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

/* dropdown arrow styling */

.select .arrow {
  position: absolute;
  top: 20%;
    z-index: 100;
  left:80%;
  font-size: 25px;
  color: #caa167;
  pointer-events: none;
}

/******************************************
/* LAYOUT
/*******************************************/


.container {
  width: 100%;
    min-height: 100%;
  margin-bottom: -50px;
    position: relative;
}
.container:after {
  content: "";
  display: block;
}
.site-footer, .container:after {
  height: 50px; 
}
logo {
    float: left;
  width: 145px;
  color: #ffffff;
}
